.click {
  margin-top: -4rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
}

.click:hover {
  box-shadow: 0 0 25px #53ffaa;
  cursor: pointer;
}
